#!/bin/bash
set -e

sudo apt update
sudo apt install -y \
  grub-pc-bin grub-efi-amd64-bin xorriso mtools \
  doom-wad-shareware chocolate-doom cpio

WORKDIR=$PWD/build
mkdir -p $WORKDIR/rootfs/{bin,dev,proc,sys}
cd $WORKDIR

# copy doom binary & wad
cp /usr/games/chocolate-doom rootfs/bin/
cp /usr/share/games/doom/doom1.wad rootfs/bin/

cat > rootfs/init << 'EOF'
#!/bin/sh
mount -t proc none /proc
mount -t sysfs none /sys
exec /bin/chocolate-doom -iwad /bin/doom1.wad
EOF

chmod +x rootfs/init

cd rootfs
find . | cpio -o -H newc | gzip > ../initramfs.img
cd ..

# kernel tá»« Ubuntu runner
cp /boot/vmlinuz-* iso_kernel 2>/dev/null || true
KERNEL=$(ls /boot/vmlinuz-* | head -n1)

mkdir -p iso/boot/grub
cp $KERNEL iso/boot/vmlinuz
cp initramfs.img iso/boot/

cat > iso/boot/grub/grub.cfg << 'EOF'
set timeout=0
set default=0
menuentry "DOOM OS" {
    linux /boot/vmlinuz quiet
    initrd /boot/initramfs.img
}
EOF

grub-mkrescue -o doom-os.iso iso